- content_for :title do
  About Us
=# currently_at 'About Us'

%section.panel#panel-name
  .container
    .panel-name
      %p The Northwest Arctic Borough School District has established a unique new school in Kotzebue, serving Alaskan students statewide.  Star of the Northwest provides students in grades 11-14 with industry backed curricula preparing them for careers in Alaska’s high-demand fields. Through a creative partnership with Kotzebue High School, Alaska Technical Center, and the University of Alaska, the school maximizes educational resources for our students.

%section.panel.star-panel#panel-name
  .container
    .panel-name
      %p (Picsic main video)

%section.panel#panel-name
  .container
    .panel-name
      %h3 Order of Partners
      %ul
        %li Teck
        %li Shell Alaska
        %li Nova Copper
        %li Conoco Phillips
        %li NANA
        %li NMS
        %li Maniilaq
        %li Northwest Arctic Borough
        %li University of Alaska

      %h3
        Logos (located in
        = succeed ')' do
          %a{href: 'https://www.dropbox.com/sh/aolptos0qb6lbk7/AACU_Ttd6vGnhc9xnP2C2P1Ea?dl=0', title: ''} dropbox
      = image_tag 'logos/partners/teck.jpg', alt: 'Teck'
      = image_tag 'logos/partners/shell.jpg', alt: 'Shell Alaska'
      = image_tag 'logos/partners/nova-copper.jpg', alt: 'Nova Copper'
      = image_tag 'logos/partners/conoco-phillips.jpg', alt: 'Conoco Phillips'
      = image_tag 'logos/partners/nana.jpg', alt: 'NANA'
      = image_tag 'logos/partners/nms.jpg', alt: 'NMS'
      = image_tag 'logos/partners/maniilaq.jpg', alt: 'Maniilaq'
      = image_tag 'logos/partners/nwab.jpg', alt: 'Northwest Arctic Borough'
      = image_tag 'logos/partners/university-of-alaska.jpg', alt: 'University of Alaska'
