- content_for :title do
  Inquire
=# currently_at 'Inquire'

%section.panel#panel-name
  .container
    .panel-name
      %p (Click to request additional information about STAR - put in a form with this info that can be electronically submitted to star@nwarctic.org)
      = simple_form_for @inquire, :html => {:class => 'form-horizontal' } do |f|
        %fieldset
          %legend
            %span
          %ol
            %li
              %label Name (First, Last)
              = f.input :name, :required => true
            %li
              %label Address
              = f.input :street_1, :required => true
              = f.input :street_2, :required => true
              = f.input :city, :required => true
              = f.input :state, :required => true
              = f.input :zip, :required => true
            %li
              %label Telephone
              = f.input :telephone, :required => true
            %li
              %label Email
              = f.input :email, :required => true
            %li
              %label High Schools attended
              = f.input :hs_name, :required => true
              = f.input :hs_location, :required => true
            %li
              %label Currently Enrolled?
              = f.input :enrolled, :collection => [[true, 'Yes'] ,[false, 'No']], as: :radio_buttons
            %li
              %label High School graduate?
              = f.input :grad_year, :required => false
            %li
              %label I am interested in (check all that apply)
              = f.input :interest, :collection =>["Culinary Arts","Education Careers","Health Care","Process Technology"], as: :check_boxes
            %li
              %label Expected Entry Date
              = f.input :entry_month, :collection => ["August","January"], as: :radio_buttons
              = f.input :entry_year, label: "Expected entry year", :collection => 2014..2020
            %li
              %label Additional comments or questions:
              = f.input :message, :as => :text, :required => true
            %li
              %label How did you hear about Star? (Check)
              %p - Online
              %p - School staff
              %p - Family
              %p - Friends
              %p - Advertisement
              %p - Other (blank to fill)
            %li
              %label Please have someone contact me by (check)
              %p - Phone
              %p - Email
              %p - Mail
            %li
              = f.button :submit, 'Send message', :class=> "btn btn-primary"
