!!!
%html.no-js{lang: 'en'}
  = head
  %body#atc
    .wrapper
      = browsehappy
      %header{role: 'banner'}
        .container
          .logo= link_to image_tag('logos/logo.png', alt: 'XXX', width: '50', height: '50'), atc_path, title: 'Alaska Technical Center'
          = render 'layouts/atc/navigation'
      #main{role: 'main'}
        = yield
      = render 'layouts/atc/footer'
    = scripts
