%nav{:role => "navigation"}
  %ul#nav
    %li
      = link_to 'Home', '/', :title => ''
    %li
      = link_to 'About Us', '/', :title => ''
    %li
      = link_to 'Admissions', '/', :title => ''
    %li
      = link_to 'Academics', '/', :title => ''
    %li
      = link_to 'Career Pathways', '/', :title => ''
    %li
      = link_to 'Student Life', '/', :title => ''
