!!!
%html.no-js{:lang => "en"}
  = head
  %body#star
    .wrapper
      = browsehappy
      %header{:role => "banner"}
        .container
          .logo= link_to image_tag('logos/star-logo.png', :alt => 'Star Logo', :width => '190', :height => '103'), root_path, :title => 'Star the Northwest Magnet School'
          = render 'layouts/star/navigation'
      #main{:role => "main"}
        = yield
      = render 'layouts/star/footer'
    = scripts
