!!!
%html.no-js{lang: 'en'}
  = head
  %body#star
    .wrapper
      = browsehappy
      %header{role: 'banner'}
        .container
          = link_to '', root_path, title: 'Star of the Northwest Magnet School', class: 'logo'
          = render 'layouts/star/navigation'
      #main{role: 'main'}
        = yield
      = render 'layouts/star/footer'
    = scripts
